body, html{
  width:100%;
  height:100%;
  margin:0;
  display: table;
  text-align: center;
}

.wrapper{
  height: 397px;
  width: 164px;
  /* display: flex; */
  top: 100px;
  /* vertical-align: middle; */
  position: relative;
  -webkit-animation: wraper-move 0.5s infinite;
}
.background-circle{
  width: 400px;
  height: 400px;
  border-radius: 100%;
  overflow: hidden;
  margin: 0 auto;
  background: #95B3BF;
  position: relative;
  -webkit-mask-image: -webkit-radial-gradient(#BADA55, #BADA55);
  -moz-mask-image: -webkit-radial-gradient(#BADA55, #BADA55);
  -o-mask-image: -webkit-radial-gradient(#BADA55, #BADA55);
  -ms-mask-image: -webkit-radial-gradient(#BADA55, #BADA55);
  animation:grow 0.7s 1 ease;
  -webkit-animation:grow 0.7s 1 ease;
  transform-origin: center;
}
.border-circle{
  width: 399px;
  height: 399px;
  border-radius: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -220px;
  margin-top: -220px;
  border: 10px solid #FCB040;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: center;
  transform-origin: center;
}
.border-circle#one{
  animation:border-pulse 1s 3.1s 1 ease;
  animation-fill-mode: forwards;
  -webkit-animation:border-pulse 1s 3.1s 1 ease;
  -webkit-animation-fill-mode: forwards;
}
.border-circle#two{
  animation:border-pulse 1s 3.3s 1 ease;
  animation-fill-mode: forwards;
  -webkit-animation:border-pulse 1s 3.3s 1 ease;
  -webkit-animation-fill-mode: forwards;
}
.upper_body{
  width: 132px;
  height: 100px;
  margin: 0 auto;
  /* background: #222; */
  border-radius: 23px;
  /* display: inline; */
  float: left;
  position: static;
}
.body{
  width: 72px;
  height: 100px;
  margin: 0 auto;
  background: #222;
  border-radius: 23px;
  position: relative;
  /* top: 230px; */
  left: 10px;
  float: left;
  animation:body-enter 0.7s 0.2s 1 ease;
  animation-fill-mode: forwards body-swing;
  -webkit-animation:body-enter 0.7s 0.2s 1 ease;
  -webkit-animation-fill-mode: forwards;
  -webkit-transform:scale(0) translateZ(0);
  transform:scale(0) translateZ(0);
}
.left_arm{
    width: 16px;
    height: 66px;
    margin: 0 auto;
    background: #222;
    border-radius: 35px;
    position: relative;
    left: 17px;
    float: left;
    top: 9px;
    animation: body-enter 0.7s 0.2s 1 ease;
    animation-fill-mode: forwards;
    -webkit-animation: body-enter 0.7s 0.2s 1 ease;
    -webkit-animation-fill-mode: forwards;
    -webkit-transform: scale(0) translateZ(0);
    transform: scale(0) translateZ(0);
}
.right_arm{
    width: 16px;
    height: 66px;
    margin: 0 auto;
    background: #222;
    border-radius: 35px;
    position: relative;
    left: 2px;
    float: left;
    top: 8px;
    animation: body-enter 0.7s 0.2s 1 ease;
    animation-fill-mode: forwards;
    -webkit-animation: body-enter 0.7s 0.2s 1 ease;
    -webkit-animation-fill-mode: forwards;
    -webkit-transform: scale(0) translateZ(0);
    transform: scale(0) translateZ(0);
}
.shirt{border-top: 69px solid #fff;border-left: 7px solid transparent;border-right: 7px solid transparent;height: 57px;left: 25px;/* top: 1px; */position: absolute;width: 13px;}
.tie_knot{
  border-top: 5px solid #DCD3D3;
  border-left: 5px solid transparent;
  border-right: 4px solid transparent;
  height: 5px;
  left: 0px;
  top: -69px;
  position: absolute;
  width: 4px;
  z-index: 99;
}
.tie{
    border-bottom: 36px solid #DCD3D3;
    border-left: 1px solid transparent;
    border-right: 2px solid transparent;
    height: 5px;
    left: 4px;
    top: -67px;
    position: absolute;
    width: 4px;
    z-index: 99;
}
.legs{
    width: 73px;
    height: 158px;
    border-radius: 95px;
    position: relative;
    z-index: 99;
    margin: auto;
    left: 28px;
    float: left;
    top: -10px;
}
.right_leg{
    width: 26px;
    height: 121px;
    margin: 0 auto;
    background: transparent;
    border-radius: 35px;
    position: relative;
    float: right;
    margin-right: 10px;
    /* margin-top: -50px; */
    animation: body-enter 0.7s 0.2s 1 ease, right_leg_move 1s;
    animation-fill-mode: forwards;
    -webkit-animation: body-enter 0.7s 0.2s 1 ease;
    -webkit-animation-fill-mode: forwards;
    -webkit-transform: scale(0) translateZ(0);
    transform: scale(0) translateZ(0);
}

.top_right_leg{
    width: 26px;
    height: 54px;
    margin: 0 auto;
    background: #222;
    border-radius: 5px;
    position: relative;
    float: left;
    -webkit-animation: top_right_leg_move 0.5s infinite;
    -webkit-animation-delay: 3s;
    animation: top_right_leg_move 0.5s infinite;
    animation-delay: 1.25s;    
}
.bottom_right_leg{
    width: 26px;
    height: 54px;
    margin-top: -20px;
    /* margin: auto; */
    background: #222;
    border-radius: 35px;
    float: left;
    animation: bottom_right_leg_move 0.5s infinite;
    animation-delay: 1.25s;
    -webkit-animation: bottom_right_leg_move 0.5s infinite;    
    -webkit-animation-delay: 1.25s;    
}
.left_leg{
    width: 26px;
    height: 121px;
    margin: 0 auto;
    background: transparent;
    border-radius: 35px;
    position: relative;
    float: left;
    margin-left: 10px;
    /* margin-top: -50px; */
    animation: body-enter 0.7s 0.2s 1 ease;
    animation-fill-mode: forwards;
    -webkit-animation: body-enter 0.7s 0.2s 1 ease;
    -webkit-animation-fill-mode: forwards;
    -webkit-transform: rotate(20deg);
    transform:  rotate(20deg);
}

.top_left_leg{
    width: 26px;
    height: 54px;
    margin: 0 auto;
    background: #222;
    border-radius: 5px;
    position: relative;
    float: left;
    -webkit-animation: top_left_leg_move 0.5s infinite;
    animation: top_left_leg_move 0.5s infinite;
}
.bottom_left_leg{
    width: 26px;
    height: 54px;
    margin-top: -20px;
    /* margin: auto; */
    background: #222;
    border-radius: 35px;
    float: left;
    -webkit-animation: bottom_left_leg_move 0.5s infinite;
    animation: bottom_left_leg_move 0.5s infinite;
}
.foot{
    width: 38px;
    height: 20px;
    margin: 0 auto;
    bottom: -10px;
    background: #020202;
    border-radius: 35px;
    position: absolute;
    margin-bottom: 0px;
    margin-left: -8px;
    animation: body-enter 0.7s 0.2s 1 ease;
    animation-fill-mode: forwards;
    -webkit-animation: body-enter 0.7s 0.2s 1 ease;
    -webkit-animation-fill-mode: forwards;
    -webkit-transform: scale(0) translateZ(0);
    transform: scale(0) translateZ(0);
}
.head{
  width: 61px;
  height: 60px;
  border-radius: 95px;
  background: #FFE4BE;
  position: static;
  /* align-content: center; */
  /* margin-top: -211px; */
  margin-left: 33px;
  animation:grow 0.7s 0.4s 1 ease;
  -webkit-animation:grow 0.7s 0.4s 1 ease;
  /*
  animation:grow 0.7s 0.4s 1 ease;
  -webkit-animation:grow 0.7s 0.4s 1 ease;
*/
  transform-origin: bottom;
  -webkit-transform-origin: bottom;
  -webkit-transform:scale(0) translateZ(0);
  transform:scale(0) translateZ(0);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.hair-main{
  width: 73px;
  height: 42px;
  background: #000000;
  border-radius: 17px 19px 0px 0px;
  margin-left: -6px;
  top: -24px;
  margin-top: 13px;
  animation:hair-anim 0.7s 0.9s 1 ease;
  /* animation-fill-mode: forwards; */
  /* -webkit-animation:hair-anim 0.7s 0.9s 1 ease; */
  /* -webkit-animation-fill-mode: forwards; */
  position: absolute;
  z-index: 2;
}

.hair-top{
  width: 58px;
  height: 41px;
  opacity: 0;
  border-top-right-radius: 30px;
  background: #000;
  position: relative;
  top: -6px;
  left: 71px;
  transform: translateX(-64px);
  -webkit-transform: translateX(-64px);
  transform-origin: right;
  -webkit-transform-origin: right;
  animation:hair-top-anim 0.7s 1s 1 ease;
  -webkit-animation:hair-top-anim 0.7s 1s 1 ease;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.hair-bottom{
  width: 24px;
  height: 19px;
  opacity: 0;
  border-bottom-left-radius: 25px;
  background: #000000;
  position: relative;
  top: -8px;
  left: 41px;
  transform: translateX(-27px);
  -webkit-transform: translateX(-27px);
  transform-origin: left;
  -webkit-transform-origin: left;
  animation:hair-bottom-anim 0.7s 1.4s 1 ease;
  -webkit-animation:hair-bottom-anim 0.7s 1.4s 1 ease;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.sideburn{
  width: 67px;
  height: 52px;
  background: #020202;
  position: absolute;
  bottom: -26px;
  opacity: 0;
  /* animation:sideburn-anim 0.7s 0.9s 1 ease; */
  /* animation-fill-mode: forwards; */
  /* -webkit-animation:sideburn-anim 0.7s 0.9s 1 ease; */
  /* -webkit-animation-fill-mode: forwards; */
}

.sideburn#left{
  left: 12px;
}

.sideburn#right{
  right: 12px;
}
.topper {
    /* display: none; */
    width: 58px;
    height: 38px;
    border-radius: 19px 19px 0 0;
    background: #000;
    position: absolute;
    top: -49px;
    left: 2px;
    /* animation: hair-anim 0.1s 0.8s 1 linear; */
    /* animation-fill-mode: forwards; */
    /* -webkit-animation-fill-mode: forwards; */
    z-index: 3;
}
.topper_bottom {
    width: 82px;
    height: 19px;
    border-radius: 48px 48px 48px 48px;
    background: #000;
    position: absolute;
    top: 31px;
    left: -12px;
    animation-fill-mode: forwards;
    /* -webkit-animation: hair-anim 0.1s 0.8s 1 linear; */
    -webkit-animation-fill-mode: forwards;
    z-index: 3;
}
.face{
  width: 61px;
  height: 39px;
  border-radius: 16px 16px 10px 10px;
  background: #FFE4BE;
  position: absolute;
  top: 0px;
  /* left: 8px; */
  animation:hair-anim 0.1s 0.8s 1 linear;
  animation-fill-mode: forwards;
  -webkit-animation:hair-anim 0.1s 0.8s 1 linear;
  /* -webkit-animation-fill-mode: forwards; */
  z-index: 3;
}
.nose{
  width: 10px;
  height: 15px;
  opacity: 1;
  background: #FFE4BE;
  border-top-left-radius: 20px;
  position: absolute;
  left: 45px;
  top: 27px;
  margin-left:-20px;
  animation:shadow-anim 0.7s 3s 1 ease;
  animation-fill-mode: forwards;
  -webkit-animation:shadow-anim 0.7s 3s 1 ease;
  -webkit-animation-fill-mode: forwards;
  opacity: 0;
  z-index: 5;
}
.ear{
  width: 10px;
  height: 19px;
  background: #FFE4BE;
  border-radius: 12px;
  position: absolute;
  top: 14px;
  animation:grow 0.7s 1.3s 1 ease;
  animation-fill-mode: forwards;
  -webkit-animation:grow 0.7s 1.3s 1 ease;
  -webkit-animation-fill-mode: forwards;
  -webkit-transform: scale(0);
  transform: scale(0);
}
.mouth{
  width: 12px;
  height: 9px;
  border-radius: 33px 33px 0 0;
  background: #000;
  position: absolute;
  top: 43px;
  left: 23px;
  /* margin-left: -33px; */
  animation:grow 0.7s 2.6s 1 ease;
  animation-fill-mode: forwards;
  -webkit-animation:grow 0.7s 2.6s 1 ease;
  -webkit-animation-fill-mode: forwards;
  -webkit-transform: scale(0);
  transform: scale(0);
}
.ear#left{
  left: -7px;
}
.ear#right{
  right: -7px;
}
.eye-shadow{
  width: 2px;
  height: 3px;
  border-radius: 0 0 15px 15px;
  background:rgba(149,36,0,0.1);
  position: absolute;
  top: 43px;
  animation:grow 0.7s 2s 1 ease;
  animation-fill-mode: forwards;
  -webkit-animation:grow 0.7s 2s 1 ease;
  -webkit-animation-fill-mode: forwards;
  -webkit-transform: scale(0);
  transform: scale(0);
}
.eye-shadow#left{
  left: 25px;
  z-index: 5;
}
.eye-shadow#right{
  right: 5px;
}
.eyebrow{
  width: 12px;
  height: 3px;
  background: #000000;
  position: absolute;
  top: -30px;
  left: 7px;
  z-index: 999;
  margin-left: -20px;
  opacity: 0;
  -webkit-backface-visibility: hidden;
}
.eye-shadow#left .eyebrow{
  animation:eyebrow-anim-left 0.7s 2.2s 1 ease;
  animation-fill-mode: forwards;
  -webkit-animation:eyebrow-anim-left 0.7s 2.2s 1 ease;
  -webkit-animation-fill-mode: forwards;
}
.eye-shadow#right .eyebrow{
  animation:eyebrow-anim-right 0.7s 2.2s 1 ease, eyebrow-raise 2s 6.6s infinite alternate ease-in-out;
  animation-fill-mode: forwards;
  -webkit-animation:eyebrow-anim-right 0.7s 2.2s 1 ease, eyebrow-raise 2s 6.6s infinite alternate ease-in-out;
  /* -webkit-animation-fill-mode: forwards; */
  top: 86px;
  margin-left: -20px;
}
.eye{
  width: 6px;
  height: 9px;
  border-radius: 10px;
  background: #334C68;
  position: absolute;
  top: -24px;
  left: 50%;
  margin-left: -10px;
  animation:grow 0.7s 2.2s 1 ease, eye-blink 4s 4.4s infinite linear;
  animation-fill-mode: forwards;
  -webkit-animation:grow 0.7s 2.2s 1 ease, eye-blink 4s 4.4s infinite linear;
  -webkit-animation-fill-mode: forwards;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
}
.shadow-wrapper{
  width: 30px;
  height: 72px;
  position: absolute;
  left: 0px;
  top: -6px;
  /* bottom: -84px; */
  z-index: 4;
  overflow: hidden;
}
.shadow{
  width: 36px;
  height: 69px;
  /* border-radius: 38px; */
  border-radius: 00px 34px;
  background: rgba(149,36,0,0.1);
  position: absolute;
  z-index: 4;
  opacity: 0;
  animation:shadow-anim 1s 2.8s 1 ease;
  animation-fill-mode: forwards;
  -webkit-animation:shadow-anim 1s 2.8s 1 ease;
  -webkit-animation-fill-mode: forwards;
}
.triangle-light{
  width: 400px;
  height: 600px;
  background: #FFFFFF;
  opacity: 0.2;
  position: absolute;
  right: -65%;
  animation: triangle-light-anim 1s 2.8s 1 ease;
  animation-fill-mode: forwards;
  -webkit-animation: triangle-light-anim 1s 2.8s 1 ease;
  -webkit-animation-fill-mode: forwards;
  -webkit-transform: translate(200px,0px);
  transform: translate(200px,0px);
}
.triangle-dark{
  width: 400px;
  height: 600px;
  background: #000000;
  opacity: 0.2;
  position: absolute;
  left: -60%;
  top: 30%;
  animation: triangle-dark-anim 1s 3s 1 ease;
  animation-fill-mode: forwards;
  -webkit-animation: triangle-dark-anim 1s 3s 1 ease;
  -webkit-animation-fill-mode: forwards;
  -webkit-transform: translate(-200px,0px);
  transform: translate(-200px,0px);
}
.music-note{
  position: absolute;
  font-size: 150px;
  color: #FCB040;
  width: 1px;
  left: 50%;
  opacity: 0;
}
.music-note#one{
  margin-left: -250px;
  top: 50%;
  animation: note-anim 2s 3.5s infinite ease;
  animation-fill-mode: forwards;
  -webkit-animation: note-anim 2s 3.5s infinite ease;
  -webkit-animation-fill-mode: forwards;
}
.music-note#two{
  margin-left: 150px;
  top: 30%;
  animation: note-anim 2s 4.3s infinite ease;
  animation-fill-mode: forwards;
  -webkit-animation: note-anim 2s 4.3s infinite ease;
  -webkit-animation-fill-mode: forwards;
}
.shirt-text{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: white;
  position: relative;
  top: -300px;
  font-size: 50px;
  display: inline-block;
  -webkit-text-stroke: 2px;
  -webkit-transform: translate(0px,100px);
  transform: translate(0px,100px);
  animation-fill-mode: forwards !important;
  -webkit-animation-fill-mode: forwards !important;
}
.shirt-text:nth-of-type(1){
  animation: text-anim 0.7s 3s 1 ease;
  -webkit-animation: text-anim 0.7s 3s 1 ease;
}
.shirt-text:nth-of-type(2){
  color: #EF4136;
  animation: text-anim 0.7s 3.1s 1 ease;
  -webkit-animation: text-anim 0.7s 3.1s 1 ease;
}
.shirt-text:nth-of-type(3){
  animation: text-anim 0.7s 3.2s 1 ease;
  -webkit-animation: text-anim 0.7s 3.2s 1 ease;
}
.shirt-text:nth-of-type(4){
  animation: text-anim 0.7s 3.3s 1 ease;
  -webkit-animation: text-anim 0.7s 3.3s 1 ease;
}
.shirt-text:nth-of-type(5){
  animation: text-anim 0.7s 3.4s 1 ease;
  -webkit-animation: text-anim 0.7s 3.4s 1 ease;
}

@keyframes grow
{
0% {
  -webkit-transform: scale(0) translateZ(0);
  transform: scale(0) translateZ(0);
}
60% {
  -webkit-transform: scale(1.15) translateZ(0);
  transform: scale(1.15) translateZ(0);
}
80% {
  -webkit-transform: scale(0.95) translateZ(0);
  transform: scale(0.95) translateZ(0);
}
100% {
  -webkit-transform: scale(1) translateZ(0);
  transform: scale(1) translateZ(0);
}
}

@-webkit-keyframes grow /* Safari and Chrome */
{
0% {
  -webkit-transform: scale(0) translateZ(0);
  transform: scale(0) translateZ(0);
}
60% {
  -webkit-transform: scale(1.15) translateZ(0);
  transform: scale(1.15) translateZ(0);
}
80% {
  -webkit-transform: scale(0.95) translateZ(0);
  transform: scale(0.95) translateZ(0);
}
100% {
  -webkit-transform: scale(1) translateZ(0);
  transform: scale(1) translateZ(0);
}
}

@keyframes body-enter
{
0% {
  -webkit-transform: translateY(200px) translateZ(0);
  transform: translateY(200px) translateZ(0);
}
60% {
  -webkit-transform: translateY(-20px) translateZ(0);
  transform: translateY(-20px) translateZ(0);
}
80% {
  -webkit-transform: translateY(30px) translateZ(0);
  transform: translateY(30px) translateZ(0);
}
100% {
  -webkit-transform: translateY(0px) translateZ(0);
  transform: translateY(0px) translateZ(0);
}
}

@-webkit-keyframes body-enter /* Safari and Chrome */
{
0% {
  -webkit-transform: translateY(200px) translateZ(0);
  transform: translateY(200px) translateZ(0);
}
60% {
  -webkit-transform: translateY(-20px) translateZ(0);
  transform: translateY(-20px) translateZ(0);
}
80% {
  -webkit-transform: translateY(30px) translateZ(0);
  transform: translateY(30px) translateZ(0);
}
100% {
  -webkit-transform: translateY(0px) translateZ(0);
  transform: translateY(0px) translateZ(0);
}
}

@keyframes hair-anim
{
0% {
  height:0px;
  -webkit-transform: translateY(137px) translateZ(0);
  transform: translateY(137px) translateZ(0);
}
100% {
  height: 137px;
  -webkit-transform: translateY(0px) translateZ(0);
  transform: translateY(0px) translateZ(0);
}
}

@-webkit-keyframes hair-anim /* Safari and Chrome */
{
0% {
  height:0px;
  -webkit-transform: translateY(137px) translateZ(0);
  transform: translateY(137px) translateZ(0);
}
100% {
  height: 137px;
  -webkit-transform: translateY(0px) translateZ(0);
  transform: translateY(0px) translateZ(0);
}
}

@keyframes sideburn-anim
{
0% {
  opacity: 0;
  -webkit-transform: translateY(-25px) translateZ(0);
  transform: translateY(-25px) translateZ(0);
}
100% {
  opacity: 1;
  -webkit-transform: translateY(0px) translateZ(0);
  transform: translateY(0px) translateZ(0);
}
}

@-webkit-keyframes sideburn-anim /* Safari and Chrome */
{
0% {
  opacity: 0;
  -webkit-transform: translateY(-25px) translateZ(0);
  transform: translateY(-25px) translateZ(0);
}
100% {
  opacity: 1;
  -webkit-transform: translateY(0px) translateZ(0);
  transform: translateY(0px) translateZ(0);
}
}

@keyframes hair-top-anim
{
0% {
  opacity: 0;
  -webkit-transform:translate(-64px, 30px) translateZ(0);
  transform:translate(-64px, 30px) translateZ(0);
}
60% {
  opacity: 1;
  -webkit-transform: rotate(0deg) translate(-64px, 30px) translateZ(0);
  transform: rotate(0deg) translate(-64px, 30px) translateZ(0);
}
80% {
  opacity: 1;
  -webkit-transform: rotate(10deg) translate(-64px, -5px) translateZ(0);
  transform: rotate(10deg) translate(-64px, -5px) translateZ(0);
}
100% {
  opacity: 1;
  -webkit-transform: rotate(0deg) translate(-64px, 0px) translateZ(0);
  transform: rotate(0deg) translate(-64px, 0px) translateZ(0);
}
}

@-webkit-keyframes hair-top-anim /* Safari and Chrome */
{
0% {
  opacity: 0;
  -webkit-transform:translate(-64px, 30px) translateZ(0);
  transform:translate(-64px, 30px) translateZ(0);
}
60% {
  opacity: 1;
  -webkit-transform: rotate(0deg) translate(-64px, 30px) translateZ(0);
  transform: rotate(0deg) translate(-64px, 30px) translateZ(0);
}
80% {
  opacity: 1;
  -webkit-transform: rotate(10deg) translate(-64px, -5px) translateZ(0);
  transform: rotate(10deg) translate(-64px, -5px) translateZ(0);
}
100% {
  opacity: 1;
  -webkit-transform: rotate(0deg) translate(-64px, 0px) translateZ(0);
  transform: rotate(0deg) translate(-64px, 0px) translateZ(0);
}
}

@keyframes hair-bottom-anim
{
0% {
  opacity: 0;
  -webkit-transform:translate(-27px, -40px) translateZ(0);
  transform:translate(-27px, -40px) translateZ(0);
}
60% {
  opacity: 1;
  -webkit-transform: rotate(0deg) translate(-27px, -40px) translateZ(0);
  transform: rotate(0deg) translate(-27px, -40px) translateZ(0);
}
80% {
  opacity: 1;
  -webkit-transform: rotate(10deg) translate(-27px, 5px) translateZ(0);
  transform: rotate(10deg) translate(-27px, 5px) translateZ(0);
}
100% {
  opacity: 1;
  -webkit-transform: rotate(0deg) translate(-27px, 0px) translateZ(0);
  transform: rotate(0deg) translate(-27px, 0px) translateZ(0);
}
}

@-webkit-keyframes hair-bottom-anim /* Safari and Chrome */
{
0% {
  opacity: 0;
  -webkit-transform:translate(-27px, -40px) translateZ(0);
  transform:translate(-27px, -40px) translateZ(0);
}
60% {
  opacity: 1;
  -webkit-transform: rotate(0deg) translate(-27px, -40px) translateZ(0);
  transform: rotate(0deg) translate(-27px, -40px) translateZ(0);
}
80% {
  opacity: 1;
  -webkit-transform: rotate(10deg) translate(-27px, 5px) translateZ(0);
  transform: rotate(10deg) translate(-27px, 5px) translateZ(0);
}
100% {
  opacity: 1;
  -webkit-transform: rotate(0deg) translate(-27px, 0px) translateZ(0);
  transform: rotate(0deg) translate(-27px, 0px) translateZ(0);
}
}
@keyframes wraper-move
{
0% {
  -webkit-transform: rotate(-5deg) translateZ(0);
  transform: rotate(-5deg) translateZ(0);
}
25% {
  -webkit-transform: rotate(5deg) translateZ(0);
  transform: rotate(5deg) translateZ(0);
}
50% {
  -webkit-transform: rotate(5deg) translateZ(0);
  transform: rotate(5deg) translateZ(0);
}
100% {
  -webkit-transform: rotate(-5deg) translateZ(0);
  transform: rotate(-5deg) translateZ(0);
}
}
@keyframes top_left_leg_move{
  0% {
      transform: rotate(0deg);
      transform-origin: 100% 0%;
  }
  33% {
      transform: rotate(20deg);
      transform-origin: 100% 0%;
  }
  100% {
      transform: rotate(0deg);
      transform-origin: 0% 0%;
  }
}

@keyframes bottom_left_leg_move{
  0% {
    transform: rotate(0deg);
    transform-origin: -44% 100%;
  }
  33% {
    transform: rotate(-20deg);
    transform-origin: -90% 100%;
  }
  88% {
    transform: rotate(0deg);
    transform-origin: 120% 100%;
  }
  100% {
    transform: rotate(0deg);
    transform-origin: 150% 100%;
  }
}
@keyframes top_right_leg_move{
  0%{
      transform: rotate(0deg);
      transform-origin: 57% 14%;
  }
  33%{
      transform: rotate(-20deg);
      transform-origin: 0% 0%;
  }
  100%{
      transform: rotate(0deg);
      transform-origin: 0% 0%;
  }
}

@keyframes bottom_right_leg_move{
  0%{
      transform: rotate(0deg);
      transform-origin: 50% 100%;
  }
  33%{
      transform: rotate(20deg);
      transform-origin: 150% 100%;
  }
  88%{
      transform: rotate(0deg);
      transform-origin: 120% 100%;
  }  
  100%{
      transform: rotate(0deg);
      transform-origin: 0% 0%;
  }
}

@keyframes music-move
{
0% {
  -webkit-transform: rotate(0deg) translateZ(0);
  transform: rotate(0deg) translateZ(0);
}
33% {
  -webkit-transform: rotate(-5deg) translateZ(0);
  transform: rotate(-5deg) translateZ(0);
}
66% {
  -webkit-transform: rotate(5deg) translateZ(0);
  transform: rotate(5deg) translateZ(0);
}
100% {
  -webkit-transform: rotate(0deg) translateZ(0);
  transform: rotate(0deg) translateZ(0);
}
}

@-webkit-keyframes music-move /* Safari and Chrome */
{
0% {
  -webkit-transform: rotate(0deg) translateZ(0);
  transform: rotate(0deg) translateZ(0);
}
33% {
  -webkit-transform: rotate(-5deg) translateZ(0);
  transform: rotate(-5deg) translateZ(0);
}
66% {
  -webkit-transform: rotate(5deg) translateZ(0);
  transform: rotate(5deg) translateZ(0);
}
100% {
  -webkit-transform: rotate(0deg) translateZ(0);
  transform: rotate(0deg) translateZ(0);
}
}

@keyframes eyebrow-anim-right
{
0% {
  opacity: 0;
  -webkit-transform: translateY(-25px) translateZ(0);
  transform: translateY(-25px) translateZ(0);
}
70% {
  opacity: 1;
  -webkit-transform: translateY(5px) translateZ(0);
  transform: translateY(5px) translateZ(0);
}
100% {
  opacity: 1;
  -webkit-transform: rotate(9deg) translateY(0px) translateZ(0);
  transform: rotate(9deg) translateY(0px) translateZ(0);
}
}

@-webkit-keyframes eyebrow-anim-right /* Safari and Chrome */
{
0% {
  opacity: 0;
  -webkit-transform: translateY(-25px) translateZ(0);
  transform: translateY(-25px) translateZ(0);
}
70% {
  opacity: 1;
  -webkit-transform: translateY(5px) translateZ(0);
  transform: translateY(5px) translateZ(0);
}
100% {
  opacity: 1;
  -webkit-transform: rotate(9deg) translateY(0px) translateZ(0);
  transform: rotate(9deg) translateY(0px) translateZ(0);
}
}
@keyframes eyebrow-raise
{
0% {
  top:-35px;
}
80% {
  top:-35px;

}
100% {
  top:-45px;
}
}

@-webkit-keyframes eyebrow-raise /* Safari and Chrome */
{
0% {
  top:-35px;
}
80% {
  top:-35px;

}
100% {
  top:-45px;
}
}
@keyframes eyebrow-anim-left
{
0% {
  opacity: 0;
  -webkit-transform: translateY(-25px) translateZ(0);
  transform: translateY(-25px) translateZ(0);
}
70% {
  opacity: 1;
  -webkit-transform: translateY(5px) translateZ(0);
  transform: translateY(5px);
}
100% {
  opacity: 1;
  -webkit-transform:translateY(0px) translateZ(0);
  transform:translateY(0px) translateZ(0);
}
}

@-webkit-keyframes eyebrow-anim-left /* Safari and Chrome */
{
0% {
  opacity: 0;
  -webkit-transform: translateY(-25px) translateZ(0);
  transform: translateY(-25px) translateZ(0);
}
70% {
  opacity: 1;
  -webkit-transform: translateY(5px) translateZ(0);
  transform: translateY(5px) translateZ(0);
}
100% {
  opacity: 1;
  -webkit-transform:translateY(0px) translateZ(0);
  transform:translateY(0px) translateZ(0);
}
}

@keyframes border-pulse
{
0% {
  -webkit-transform: scale(0) translateZ(0);
  transform: scale(0) translateZ(0);
  border-width: 20px;
}
40% {
  -webkit-transform: scale(1) translateZ(0);
  transform: scale(1) translateZ(0);
  border-width: 20px;
  margin-left: -220px;
  margin-top: -220px;
}
100% {
  -webkit-transform: scale(1.5) translateZ(0);
  transform: scale(1.5) translateZ(0);
  border-width: 0px;
  border-style: double;
  margin-left: -200px;
  margin-top: -200px;
}
}

@-webkit-keyframes border-pulse /* Safari and Chrome */
{
0% {
  -webkit-transform: scale(0) translateZ(0);
  transform: scale(0) translateZ(0);
  border-width: 20px;
}
40% {
  -webkit-transform: scale(1) translateZ(0);
  transform: scale(1) translateZ(0);
  border-width: 20px;
  margin-left: -220px;
  margin-top: -220px;
}
100% {
  -webkit-transform: scale(1.5) translateZ(0);
  transform: scale(1.5) translateZ(0);
  border-width: 0px;
  border-style: double;
  margin-left: -200px;
  margin-top: -200px;
}
}
@keyframes shadow-anim
{
0% {
  opacity: 0;
  -webkit-transform: translate(98px,0px) translateZ(0);
  transform: translate(98px,0px) translateZ(0);
}
50% {
  opacity: 0;
}
100% {
  opacity: 1;
  -webkit-transform: translate(0px,0px) translateZ(0);
  transform: translate(0px,0px) translateZ(0);
}
}

@-webkit-keyframes shadow-anim /* Safari and Chrome */
{
0% {
  opacity: 0;
  -webkit-transform: translate(98px,0px) translateZ(0);
  transform: translate(98px,0px) translateZ(0);
}
50% {
  opacity: 0;
}
100% {
  opacity: 1;
  -webkit-transform: translate(0px,0px) translateZ(0);
  transform: translate(0px,0px) translateZ(0);
}
}
@keyframes triangle-light-anim
{
0% {
  -webkit-transform: translate(200px,0px) translateZ(0);
  transform: translate(200px,0px) translateZ(0);
}
100% {
  -webkit-transform: rotate(45deg) translate(0px,0px) translateZ(0);
  transform: rotate(45deg) translate(0px,0px) translateZ(0);
}
}

@-webkit-keyframes triangle-light-anim /* Safari and Chrome */
{
0% {
  -webkit-transform: translate(200px,0px) translateZ(0);
  transform: translate(200px,0px) translateZ(0);
}
100% {
  -webkit-transform: rotate(45deg) translate(0px,0px) translateZ(0);
  transform: rotate(45deg) translate(0px,0px) translateZ(0);
}
}
@keyframes triangle-dark-anim
{
0% {
  -webkit-transform: translate(-200px,0px) translateZ(0);
  transform: translate(-200px,0px) translateZ(0);
}
100% {
  -webkit-transform: rotate(-45deg) translate(0px,0px) translateZ(0);
  transform: rotate(-45deg) translate(0px,0px) translateZ(0);
}
}

@-webkit-keyframes triangle-dark-anim /* Safari and Chrome */
{
0% {
  -webkit-transform: translate(-200px,0px) translateZ(0);
  transform: translate(-200px,0px) translateZ(0);
}
100% {
  -webkit-transform: rotate(-45deg) translate(0px,0px) translateZ(0);
  transform: rotate(-45deg) translate(0px,0px) translateZ(0);
}
}
@keyframes note-anim
{
0% {
  opacity: 0;
  -webkit-transform: translate(0px,50px) translateZ(0);
  transform: translate(0px,50px) translateZ(0);
}
30% {
  -webkit-transform:rotate(12deg) translate(-30px,0px) translateZ(0);
  transform:rotate(12deg) translate(-30px,0px) translateZ(0);
}
45% {
  opacity: 1;
}
60% {
  -webkit-transform:rotate(-12deg) translate(30px,-100px) translateZ(0);
  transform:rotate(-12deg) translate(30px,-100px) translateZ(0);
}
100% {
  opacity: 0;
  -webkit-transform:rotate(0deg) translate(0px,-200px) translateZ(0);
  transform:rotate(0deg) translate(0px,-200px) translateZ(0);
}
}

@-webkit-keyframes note-anim /* Safari and Chrome */
{
0% {
  opacity: 0;
  -webkit-transform: translate(0px,50px) translateZ(0);
  transform: translate(0px,50px) translateZ(0);
}
30% {
  -webkit-transform:rotate(12deg) translate(-30px,0px) translateZ(0);
  transform:rotate(12deg) translate(-30px,0px) translateZ(0);
}
45% {
  opacity: 1;
}
60% {
  -webkit-transform:rotate(-12deg) translate(30px,-100px) translateZ(0);
  transform:rotate(-12deg) translate(30px,-100px) translateZ(0);
}
100% {
  opacity: 0;
  -webkit-transform:rotate(0deg) translate(0px,-200px) translateZ(0);
  transform:rotate(0deg) translate(0px,-200px) translateZ(0);
}
}
@keyframes text-anim
{
0% {
  -webkit-transform: translate(0px,100px) translateZ(0);
  transform: translate(0px,100px) translateZ(0);
}
60% {
  -webkit-transform:translate(0px,-20px) translateZ(0);
  transform:translate(0px,-20px) translateZ(0);
}
80% {
  -webkit-transform:translate(0px,15px) translateZ(0);
  transform:translate(0px,15px) translateZ(0);
}
100% {
  -webkit-transform:translate(0px,0px) translateZ(0);
  transform:translate(0px,0px) translateZ(0);
}
}

@-webkit-keyframes text-anim /* Safari and Chrome */
{
0% {
  -webkit-transform: translate(0px,100px) translateZ(0);
  transform: translate(0px,100px) translateZ(0);
}
60% {
  -webkit-transform:translate(0px,-20px) translateZ(0);
  transform:translate(0px,-20px) translateZ(0);
}
80% {
  -webkit-transform:translate(0px,15px) translateZ(0);
  transform:translate(0px,15px) translateZ(0);
}
100% {
  -webkit-transform:translate(0px,0px) translateZ(0);
  transform:translate(0px,0px) translateZ(0);
}
}
@keyframes eye-blink
{
0% {
  -webkit-transform: scaleY(1) translateY(0px) translateZ(0);
  transform: scaleY(1) translateY(0px) translateZ(0);
}
45% {
  -webkit-transform: scaleY(1) translateY(0px) translateZ(0);
  transform: scaleY(1) translateY(0px) translateZ(0);
}
50% {
  -webkit-transform: scaleY(0.1) translateZ(0);
  transform: scaleY(0.1) translateZ(0);
}
55% {
  -webkit-transform: scaleY(1) translateY(0px);
  transform: scaleY(1) translateY(0px);
}
100% {
  -webkit-transform: scaleY(1) translateY(0px) translateZ(0);
  transform: scaleY(1) translateY(0px) translateZ(0);
}
}

@-webkit-keyframes eye-blink /* Safari and Chrome */
{
0% {
  -webkit-transform: scaleY(1) translateY(0px) translateZ(0);
  transform: scaleY(1) translateY(0px) translateZ(0);
}
45% {
  -webkit-transform: scaleY(1) translateY(0px) translateZ(0);
  transform: scaleY(1) translateY(0px) translateZ(0);
}
50% {
  -webkit-transform: scaleY(0.1) translateZ(0);
  transform: scaleY(0.1) translateZ(0);
}
55% {
  -webkit-transform: scaleY(1) translateY(0px) translateZ(0);
  transform: scaleY(1) translateY(0px) translateZ(0);
}
100% {
  -webkit-transform: scaleY(1) translateY(0px) translateZ(0);
  transform: scaleY(1) translateY(0px) translateZ(0);
}
}

@keyframes body-swing
{
0% {
  -webkit-transform: rotate(0deg) translateZ(0);
  transform: rotate(0deg) translateZ(0);
}
33% {
  -webkit-transform: rotate(-2deg) translateZ(0);
  transform: rotate(-2deg) translateZ(0);
}
66% {
  -webkit-transform: rotate(2deg) translateZ(0);
  transform: rotate(2deg) translateZ(0);
}
100% {
  -webkit-transform: rotate(0deg) translateZ(0);
  transform: rotate(0deg) translateZ(0);
}
}